version: "3.9"

services:
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: redpanda
    command:
      - redpanda start
      - --smp 1
      - --overprovisioned
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:18082
      - --advertise-pandaproxy-addr internal://redpanda:8082,external://localhost:18082
      - --rpc-addr redpanda:33145
      - --advertise-rpc-addr redpanda:33145
    ports:
      - "19092:19092"  # External Kafka
      - "18082:18082"  # External Proxy

    volumes:
      - redpanda-data:/var/lib/redpanda/data
    networks:
      - redpanda-network

  console:
    image: redpandadata/console:latest
    container_name: redpanda-console
    ports:
      - "8080:8080"
    environment:
      KAFKA_BROKERS: "redpanda:9092"
      KAFKA_RESTHOSTS: "http://redpanda:8082"
    networks:
      - redpanda-network
    depends_on:
      - redpanda

volumes:
  redpanda-data:

networks:
  redpanda-network:
    driver: bridge