name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install flake8
      run: pip install flake8
    - name: Lint with flake8
      run: |
        cd producer
        flake8 producer.py --max-line-length=100 --ignore=E501,W503